/* styles.css */
.navLinks{
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  /* Hide nav links on base breakpoint (usually mobile) */
  @media (max-width: 767px) {
    .navLinks {
      display: none;
    }
  }
  